<div class="koblike-header">
    <img src='{{item.img}}'
                title='{{item.name}}'
                width='35'
                height='35'>
                <div class="subtype">{{item.system.subType}}
                    </div>
</div>
<div class="koblike-content">
    <h2>{{item.name}}</h2>
{{{item.system.description}}}
</div>